*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > * {
    flex: auto;
}

.result-field {
    width: 200px;
    text-align: end;
    background-color: aqua;
}

.input-field {
    font-size: xx-large;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: brown;
}

.row-0,
.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 2px;
    margin-bottom: 2px;;
}

.row-0 > *,
.row-1 > *,
.row-2 > *,
.row-3 > *,
.row-4 > *,
.row-5 > * {
    padding: 8px;
    flex: auto;
    flex-basis: 20px;
}

